<launch>

  <node pkg="grinding_robot" name="gui_motor" type="gui_motor" />
  
   
   <machine
            name="laserscan"
            address="192.168.0.22"
            env-loader="/opt/ros/melodic/env_remote1.sh"
            default="true"
            user="thocao"
   />
   <node machine="laserscan" pkg="mypcl" name="mylaser" type="mylaser" />
   
</launch>
